<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <h1> <%= title %> </h1>

    <%- include('partials/navbar.ejs') %>

    <ul>
        <% users.forEach((user) => { %>
            <li>
                <%= user.nome %> - <%= user.email %> - <%= user.idade %> anos - 
                <a href="/edit">[editar]</a>
            </li>    
        <% }) %>
    </ul>
</body>
</html>